* {box-sizing: border-box;}

body {
    background-color: #2a475e;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.topnav {
    overflow: hidden;
    background-color: #171a21;
}

.topnav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}

.topnav a:hover {
    background-color: #1b2838;
    color: white;
}

.topnav a.active {
    background-color: #2196F3;
    color: white;
}

.topnav .search-container {
    float: right;
}

.topnav input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
}

.topnav .search-container button {
    float: right;
    padding: 6px;
    margin-top: 8px;
    margin-right: 16px;
    background: #66c0f4;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.topnav .search-container button:hover {
    background: #2a475e;
}

@media screen and (max-width: 600px) {
    .topnav .search-container {
    float: none;
    }
    .topnav a, .topnav input[type=text], .topnav .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
    }
    .topnav input[type=text] {
    border: 1px solid #ccc;  
    }
}

.slideshow-container{
    max-width: 500px;
    position: relative;
    margin: auto;
}

.mySlides{
    display: none;
}

.prev, .next{
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: 100%;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.prev{
    left: 0px;
    width: 20px;
}

.next{
    right: 0px;
    width: 20px;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover{
    background-color: rgb(0, 0, 0, 0.6);
}

.text{
    color: white;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

.numbertext {
    color: white;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }

.active, .dot:hover {
    background-color: white;
  }

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }