<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nossa história</title>
    <link rel="stylesheet" href="../CSS/Layout.css">
</head>
<body>
    <div class="topnav">
        <a class="active" href="História_empresa.html">P.E.K.A</a>
        <a href="../Index.html">Loja</a>
        <a href="Perfil.html">Perfil</a>
        <div class="search-container">
          <form action="/action_page.php">
            <input type="text" placeholder="Search.." name="search">
            <button type="submit">Submit</button>
          </form>
        </div>
      </div><br>
</body>
</html>