<!DOCTYPE html>
<html lang="Pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil do jogador</title>
    <link rel="stylesheet" href="../CSS/Layout.css">
    <script src="../JS/Js.js"></script>
</head>
<body>
    <div class="topnav">
        <a class="active" href="História_empresa.html">P.E.K.A</a>
        <a href="../Index.html">Loja</a>
        <a href="Perfil.html">Perfil</a>
        <div class="search-container">
          <form action="/action_page.php">
            <input type="text" placeholder="Search.." name="search">
            <button type="submit">Submit</button>
          </form>
        </div>
    </div>

    <div>
    <img src="../Img/gru.jpg" alt="Gru" width="500" class="icon">
        <div class="div1">
        <p class="nome">Nome: Ricardinho Gameplay#9876</p>
        </div>
    </div>

    <div class="div2">
        <p class="nome">Data de Nascimento: 18/09/1998</p>
    </div>
</body>
</html>